<!DOCTYPE html>
<html lang="en">
<div class='ui segment'> 

    <a class='ui blue button' href="/">Home</a>

    <a class='ui blue button' href="/linuxPage">Linux</a>
      
    <a class='ui blue button' href="/pythonPage">Python</a>
      
    <a class='ui blue button' href="/dockerPage">Docker</a>
      
    <a class='ui blue button' href="/awsPage">AWS</a>
      
</div>
<!-- <title>Linux Commands Resources</title> -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <center>
    
    <body>
        <h2>AWS</h2>
    </body>
    <form action="/addAWS" method="POST">
        
        <label for="phone">Want to contribute to this list?</label><br><br>
        <input type= "text" name="url_link" placeholder="Enter link here"><br><br>
        <input type="submit">
        
    </form>

    </center>
    </select>
    <li>AWS RESOURCES</li>
    <br>
    <br>
    {% for resource in aws_list %} <!--allows us to access items in linux_list-->
    <div class='ui segment'>
        <p class='ui big header'> {{resource.id}} | {{resource.url_link}} </p> <!--shows id and title of items in linux list-->

        <!--adds update and delete button-->
        <a class='ui blue button' href="/updateAWS/{{ resource.id }}">Update</a>
        <a class='ui red button' href="/deleteAWS/{{ resource.id }}">Delete</a>
    </div>
    {% endfor %}

</head>

<body>

</body>
