<!DOCTYPE html>
<h lang="en">

<head>
  <center>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Devnote </title>
    <link rel="stylesheet" href="./css/style.css"> 
    <!-- the link for style sheet add static to beginning of css-->
  </center>
</head>

<body>
  

<h2> DevNote </h2>

<div class='ui segment'> 
<!-- had to route from main.py to connect to server --> 

  <a class='ui blue button' href="/linuxPage">Linux</a>

  <a class='ui blue button' href="/pythonPage">Python</a>

  <a class='ui blue button' href="/dockerPage">Docker</a>

  <a class='ui blue button' href="/awsPage">AWS</a>

</div>

<br>
{% if get %}
    <h3> Latest Resources </h3>
    <small>(From Redis)</small>
    <!-- <p>{{id}}</p> -->
    <ul>
    {% for link in link_list %}
        <li>{{link}}</li>
    {% endfor %}
    </ul>

{% endif %}
