<!DOCTYPE>
<h lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Devnote </title>
    <link rel="stylesheet" href="./css/style.css">

    {% block head %}
    {% block content %}
  </head>

  <body>
    {% block body %}
    <h2> DevNote </h2>

    <p>The select element defines a drop-down list:</p>

    <form action="{{ url_for('base.html') }}" method="post">
      <label for="routes">Choose a Topic:</label>
      <select request.form.get="url_link" description="url_link">
        <option value= "linux.html" methods="post">Linux</option>
        <option value="Python">Python</option>
        <option value="Docker">Docker</option>
        <option value="AWS">AWS</option>
      </select>
      <input type="submit">
    </form>
    {% endblock %}
  </body>

  </html>