<!DOCTYPE html>
<html lang="en">
<title>Linux Commands Resources</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevNote</title>
    <form action="placeholder">"Python path"</form> <!-- What is this??-->
<center>
    <!--Drop Down-->
    <body>
        <h2>Linux</h2>
    </body>
    <label for="Topics">Choose a Topic:</label>
    <select name="Topics">
        <option value="Linux">Linux</option>
        <option value="Python">Python</option>
        <option value="Docker">Docker</option>
        <option value="AWS">AWS</option>
        <input type="submit">
    <br>
    <br>
        <label for="phone">Want to contribute to this list?</label><br><br>
        <input placeholder="Enter link here"><br><br>
        <input type="submit">
</center>
    </select>
    <li>LINUX RESOURCES</li>
    <br>
    <br>
    <!--This will be the link to the website resources -->
    <p> <a href = "">20 Linux commands every sysadmin should know</a></p>
    <p>This is link will show you is basic BASH commands you can use 
        on a linux machine.
    </p>
     % if Python % 
     <!--This should be the link to the other pages -->
     <a href= ""> </a>

     
</head>