<!DOCTYPE html>
<html lang="en">
<title>Linux Commands Resources</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevNote</title>
  
    <center>
    
    <body>
        <h2>Linux</h2>
    </body>
    <form action="/addLinux" method="POST">
        
        <label for="phone">Want to contribute to this list?</label><br><br>
        <input type= "text" name="url_link" placeholder="Enter link here"><br><br>
        <input type="submit">
    </form>

    </center>
    </select>
    <li>LINUX RESOURCES</li>
    <br>
    <br>

</head>

<body>

</body>

